// GENERAL FORM STYLES

fieldset {
  border: none;
  margin-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

fieldset {
  width: 100%;
  padding: 0;
  margin: 0;
}

input[type=text], 
input[type=email] {
  padding: 15px;
  margin-bottom: 10px;
  width: 50% ;
  border: none;
}

input[type=text] {
  margin-right: 10px
}

.name-email {
  display: flex;
  flex-direction: row;
}

textarea {
  width: 100%;
  resize: none;
  border: none; 
  padding: 15px;

}

button {
  width: 100%;
  border: none;
  padding: 10px 0 10px 0;
  margin-top: 10px;
}

button:focus {
  border: 1px solid $orangey-yellow;
}


// STYLING FOR BLOG PAGE FORM

.blog-contact {
  margin: 20px 0 20px 0;

}

// RESPONSIVE STYLING

@media (max-width: 768px) {

  .get-in-touch {
    width: 75%;
    margin: 0 auto;
  }
  
  .name-email {
    flex-direction: column;
  }
  
  input[type=text] {
    margin-left: 0;
    width: 100%
  }

  input[type=email] {
    width: 100%;
  }
}
