fieldset {
  border: none;
  margin-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0 35px 0;
}

fieldset {
  width: 100%;
}

input[type=text], 
input[type=email] {
  height: 50px;
  padding-left: 15px;
  margin: 10px;
  width: calc(50% - 10px);
  border: none;
}
.name-email {
  display: flex;
  flex-direction: row;
}

textarea {
  width: 100%;
  resize: none;
  border: none; 
  padding: 15px;
}

button {
  width: 100%;
  border: none;
  padding: 10px 0 10px 0;
}

button:focus {
    border: 1px solid $orangey-yellow;
}

//styling the form found on the contact page

.contact-form {
  width: 100%;
  margin-left: 25px;
  padding: none;
}

