// GENERAL STYLES FOR MAIN

h1 {
    font-family: 'Lora', serif;
    color: $black;
    font-size: 8rem;
    letter-spacing: 0;
    line-height: 92px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    z-index: 20;
    position: relative;
    top: -50px
}

main {
    background-color: $white-shade;
}

//STYLES FOR CONTACT PAGE

.contact-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.contact-section-wrapper p {
    padding: 0;
}

.contact-section-wrapper h4 {
    text-transform: lowercase;
}

// FORM CONTAINER (CONTACT PAGE)

.get-in-touch {
  width: 100%;
  margin-left: 20px;
  padding: none;
}

// STYLING FOR RESPONSIVE LAYOUTS

@media (max-width: 940px) {
   h1 { 
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    h1 {
        text-align: center;
    }

    //CONTACT PAGE STYLE 

    .contact-section-wrapper {
        display: flex;
        flex-direction: column;
    }

    .contact-form {
        width: 85%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    h1 {
        text-align: center;
        font-size: 4rem;
        position: relative;
        top: 0px
    }

    // FORM CONTAINER (CONTACT PAGE)

    .get-in-touch {
        margin: 15px auto;
    }

}