//GENERAL STYLES FOR ALL SECTIONS

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $black;
    font-size: 4.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $black;
    font-size: 3.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

section a {
    padding: 20px;
}

section p {
    padding: 15px 0 35px 0; 
}

//STYLES FOR SECTIONS THAT CONTAIN "SOPHIE'S FAVOURITE THINGS" + "WHERE SHE'S TRAVLLED" (HOME PAGE)

.favourite-travelled-wrapper {
    background-color: $white;
}

.favourite-things-text,
.where-shes-travelled-text {
    max-width: 40%;
    margin-top: 30px;
}

.favourite-things,
.where-shes-travelled {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// STYLES FOR "WHO IS SOPHIE?" SECTION (HOME PAGE)

.who-is-sophie {
    width: 70%;
    padding: 100px 0 100px 0;
}

//STYLES FOR "SOPHIE'S FAVOURITE THINGS" SECTION (HOME PAGE)

.favourite-things {
    padding-bottom: 80px;
}

.favourite-things img {
   box-shadow: 20px 25px $rust-red, -160px 25px $rust-red;
   position: relative;
   top: -25px;
}

.favourite-things-text {
    padding-top: 75px;
    text-align: left; 
}

// STYLES FOR "WHERE'S SHE'S TRAVELLED" SECTION (HOME PAGE)

.where-shes-travelled img {
   box-shadow: 20px 25px $orangey-yellow, 160px 25px $orangey-yellow;
   position: relative;
   bottom: -25px;
}

.where-shes-travelled-text {
    text-align: right;
}

// STYLES FOR PHOTO/ABOUT/BLOG/GET IN TOUCH ICON SECTION (HOME PAGE)

.quick-facts-wrapper {
    display: flex;
    flex-direction: row;
    padding: 50px 0 50px 0;
}

.quick-facts-wrapper i {
    background-color: $orangey-yellow;
    padding: 15px;
    border-radius: 50%;
    transform: translateY(55px) translateX(-5px);
}

.photos-info-text,
.about-info-text,
.blog-info-text,
.get-in-touch-text {
    margin: 0 35px 0 65px;
}

// STYLES FOR "SOPHIE'S JOURNEY" SECTION (HOME PAGE)

.sophie-journey {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}

.sophie-journey {
    margin: 50px 0 50px 0;
}

.sophie-journey-text-wrapper {
    max-width: 60%;
}

.sophie-journey img {
    box-shadow: 15px 15px $orangey-yellow;
}

// STYLES FOR IMAGE GALLERY (HOME PAGE)

.image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 70px 0 70px 0;
    background-color: $white;
}

.image-gallery ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// STYLES FOR MOBILE 

@media (max-width: 940px) {

    //HOME PAGE STYLES

    .who-is-sophie {
        margin: 0 auto;
    }

    .favourite-things,
    .where-shes-travelled {
        flex-direction: column;
        padding: 50px 0 50px 0;
    }

    .favourite-things img,
    .where-shes-travelled img {
        margin: 0 auto;
        box-shadow: none;
        top: 0;
    }

    .favourite-things-text,
    .where-shes-travelled-text {
        margin: 30px auto;
        max-width: 85%;
    }

    .favourite-things-text {
        padding: 0;
    }

    .quick-facts-wrapper {
        margin-left: 25px;
    }

    .image-gallery li {
        margin-left: 10px;
        width: calc(100% - 30px) / 3; 
    }

    .image-gallery li:nth-child(3n) {
        margin-right: 10px;
    }

}

@media (max-width: 768px) {

    //HOME PAGE STYLES

    .sophie-journey {
        flex-direction: column;
        padding-top: 50px;
    }

    .sophie-journey-img-wrapper {
        margin: 0 auto;
    }

    .sophie-journey-text-wrapper {
        margin: 30px auto;
    }

    //CONTACT PAGE STYLE 

    .contact-section-wrapper {
        display: flex;
        flex-direction: column;
    }

    .contact-form {
        width: 85%;
        margin: 0 auto;
    }
}


@media (max-width: 480px) {

    //HOME PAGE STYLES

    .quick-facts-wrapper {
        flex-direction: column;
    }
}

