//some general section styles 

h2 {
    font-family: 'Roboto', sans-serif;
    color: $black;
    font-size: 4.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: $black;
    font-size: 3.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

section a {
    padding: 20px;
}

section p {
    padding: 15px 0 35px 0; 
}


// styling "Who is Sophie?" section 

.who-is-sophie {
    width: 70%;
    padding: 100px 0 100px 0;
}

// general styling for the sections that contains "Sophie's Favourite Things" and "Where She's Travelled" + their images. Primarily, changing the background colour to white.

.favourite-travelled-wrapper {
    background-color: $white;
}

// some general styling of "Sophie's Favourite Things" and "Where She's Travelled" sections 

.favourite-things-text,
.where-shes-travelled-text {
    max-width: 40%;
    margin-top: 30px;
}

.favourite-things,
.where-shes-travelled {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//styling "Sophie's Favourite Things" section

.favourite-things {
    padding-bottom: 80px;
}

.favourite-things img {
   box-shadow: 20px 25px $rust-red, -160px 25px $rust-red;
   position: relative;
   top: -25px;
}

.favourite-things-text {
    padding-top: 75px;
    text-align: left; 
}


// styling "Where's She's Travelled" section 

.where-shes-travelled img {
   box-shadow: 20px 25px $orangey-yellow, 160px 25px $orangey-yellow;
   position: relative;
   bottom: -25px;
}

.where-shes-travelled-text {
    text-align: right;


}

// styling the photos/about/blog/get in touch section on home page

.quick-facts-wrapper {
    display: flex;
    flex-direction: row;
    padding: 50px 0 50px 0;
}

.quick-facts-wrapper i {
    background-color: $orangey-yellow;
    padding: 15px;
    border-radius: 50%;
    transform: translateY(55px) translateX(-5px);
}

.photos-info-text,
.about-info-text,
.blog-info-text,
.get-in-touch-text {
    margin: 0 35px 0 65px;
}

// styling "Sophie's Journey" section on home page 

.sophie-journey {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}

.sophie-journey {
    margin: 50px 0 50px 0;
}

.sophie-journey-text-wrapper {
    max-width: 60%;
}

.sophie-journey img {
    box-shadow: 15px 15px $orangey-yellow;
}


// styling the image gallery on the home page

.image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 50px 0 50px 0;
}

.image-gallery ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

//styling for the social media + email + address side-bar on the contact page 

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

//the above contact section wrapper also wraps the contact form on the contact page

.contact-socials {
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 0;
}

.contact-socials ul {
    display: flex;
    flex-direction: row;
}

.contact-socials a {
    background-color: transparent;
    color: $orangey-yellow;
}

.contact-socials a:hover,
.contact-socials a:focus {
    color: $accent;
}

.contact-section p {
    padding: 0;
}

// STYLES FOR MOBILE 






// MOBILE STYLES FOR CONTACT PAGE


@media (max-width: 768px) {

    //HOME PAGE STYLES

    .who-is-sophie {
        margin: 0 auto;

    }
    .favourite-things,
    .where-shes-travelled {
        flex-direction: column;
    }

    .favourite-things img,
    .where-shes-travelled img {
        margin: 0 auto;
        box-shadow: none;
        top: 0;
    }

    .favourite-things-text,
    .where-shes-travelled-text {
        margin: 30px auto;
        max-width: 85%;
    }

    .favourite-things-text {
        padding: 0;

    }

    .quick-facts-wrapper {
        margin-left: 25px;
    }

    .sophie-journey {
        flex-direction: column;
        padding-top: 50px;
    }

    .sophie-journey-img-wrapper {
        margin: 0 auto;
    }

    .sophie-journey-text-wrapper {
        margin: 30px auto;

    }

    //CONTACT PAGE STYLE 

    .contact-section {
        display: flex;
        flex-direction: column;
    }

    .contact-form {
        width: 85%;
        margin: 0 auto;

    }
}


@media (max-width: 480px) {
    //HOME PAGE STYLES

    .quick-facts-wrapper {
        flex-direction: column;

    }
  
}

